<widget id="A6002851408428"  version="0.0.1">
    <name>亦影VIP</name>
    <description>
        影视预告分享
    </description>
    <author email="aissty@qq.com href="//goldenlarp.com">
        APICloud.SIR
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
  <preference name="autoUpdate" value="true"/>
<preference name="smartUpdate" value="true" />
</widget>
